{% extends '_base.html' %}


{% block content %}
  <div class="container bg-spb">
    <div class="row vh-100 d-flex justify-content-center align-items-center bg-spb__inner">
  		<div class="col-12">
  			<h2 class="text-center mb-3">Выберете категории</h2>
      </div>

      <div class="row w-100 no-gutters">
  			<div class="col-6">
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck1">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <i class="custom-checkbox"></i>
              Бизнес
            </label>
          </div>   
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck2">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
              <i class="custom-checkbox"></i>
              Выставка
            </label>
          </div>  
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck3">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
              <i class="custom-checkbox"></i>
              Встречи
            </label>
          </div>  
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck4">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
              <i class="custom-checkbox"></i>
              Вечеринка
            </label>
          </div>  
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck5">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
              <i class="custom-checkbox"></i>
              Спорт
            </label>
          </div>  
        </div> 

        <div class="col-6">
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck6">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
              <i class="custom-checkbox"></i>
              Концерт
            </label>
          </div>  
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck7">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
              <i class="custom-checkbox"></i>
              Фестиваль
            </label>
          </div>  
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck8">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
              <i class="custom-checkbox"></i>
              Музыка
            </label>
          </div> 
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck9">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
              <i class="custom-checkbox"></i>
              Выступление
            </label>
          </div> 
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck10">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
              <i class="custom-checkbox"></i>
              Воркшоп
            </label>
          </div> 
        </div>
      </div>

      <div class="col-12">
        <a href="feed.html" class="btn btn-lg d-block btn-success">Готово!</a>
      </div>
  		</div>
  	</div>
  </div>
{% endblock %}