{% extends '_base.html' %}


{% block content %}
  <div class="container bg-spb">
  	<div class="row vh-100 d-flex align-items-center bg-spb__inner">
  		<div class="col-12">
  			<h2 class="text-center mb-3">Регистрация</h2>
  <!-- 		</div>
  		<div class="col-12"> -->
  			<a href="categories.html" class="btn btn-danger btn-lg d-block mb-2">
  				<i class="fa fa-google mr-1"></i> Sign in with Google
  			</a>
        <a href="categories.html" class="btn btn-vk btn-lg d-block mb-2">
          <i class="fa fa-vk mr-1"></i> Sign in with Vkontakte
        </a>
  		</div>
  	</div>
  </div>
{% endblock %}