<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <title>Oh, My Gatchina!</title>
  </head>
  <body>

    
  <div class="container bg-spb">
    <div class="row vh-100 d-flex justify-content-center align-items-center bg-spb__inner">
  		<div class="col-12">
  			<h2 class="text-center mb-3">Выберете категории</h2>
      </div>

      <div class="row w-100 no-gutters">
  			<div class="col-6">
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck1">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <i class="custom-checkbox"></i>
              Бизнес
            </label>
          </div>   
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck2">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
              <i class="custom-checkbox"></i>
              Выставка
            </label>
          </div>  
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck3">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
              <i class="custom-checkbox"></i>
              Встречи
            </label>
          </div>  
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck4">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
              <i class="custom-checkbox"></i>
              Вечеринка
            </label>
          </div>  
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck5">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
              <i class="custom-checkbox"></i>
              Спорт
            </label>
          </div>  
        </div> 

        <div class="col-6">
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck6">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
              <i class="custom-checkbox"></i>
              Концерт
            </label>
          </div>  
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck7">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
              <i class="custom-checkbox"></i>
              Фестиваль
            </label>
          </div>  
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck8">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
              <i class="custom-checkbox"></i>
              Музыка
            </label>
          </div> 
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck9">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
              <i class="custom-checkbox"></i>
              Выступление
            </label>
          </div> 
          <div class="form-check">
            <label class="form-check-label" for="defaultCheck10">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
              <i class="custom-checkbox"></i>
              Воркшоп
            </label>
          </div> 
        </div>
      </div>

      <div class="col-12">
        <a href="feed.html" class="btn btn-lg d-block btn-success">Готово!</a>
      </div>
  		</div>
  	</div>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>