<h2 mat-dialog-title>Создать событие</h2>
<mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      (input)="onNameChanged($event.target.value)"
      placeholder="Название события"
    />
  </mat-form-field>
  <mat-form-field class="textarea-wrapper" floatLabel="never">
    <textarea
      class="textarea-input"
      matInput
      (input)="onDescriptionChanged($event.target.value)"
      placeholder="Описание события"
      maxlength="150"
      rows="5"
    ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Категория</mat-label>
    <mat-select matNativeControl  [(value)]="categoryId">
      <ng-container *ngIf="categories$ | async as categories">
        <mat-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="button" color="transparent" mat-dialog-close>
    Отмена
  </button>
  <button mat-button type="button" color="primary" (click)="ok()">ОК</button>
</mat-dialog-actions>
